---
---

body, html {
  height: 100%;
  widows: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;

  background: url(/images/background.jpg) fixed no-repeat;
  background-size: cover;

  position: relative;

  .logo-small {
    width: 250px;
    height: 25px;
    margin: 30px 40px;
  }

  .logo-large {
    width: 184px;
    height: 415px;

    position: absolute;
    top: 50%; left: 50%;
    margin-left: -92px; margin-top: -207.5px;
  }

  .player {
    height: 55px;
    color: white;
    background-color: black;

    position: absolute;
    left: 0px; right: 0px; bottom: 0px;

    .controls {
      width: 265px;
      height: 55px;
      position: absolute;
      right: 0px;

      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
      }

      > div {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
      }

      .back-button {
        height: 13px; width: 18px;
        background: url(/images/player/back-button.png);
        background-size: cover;
      }

      .play-button {
        height: 22px; width: 20px;
        background: url(/images/player/play-button.png);
        background-size: cover;
      }

      .forward-button {
        margin-right: 35px;
        height: 13px; width: 18px;
        background: url(/images/player/forward-button.png);
        background-size: cover;
      }

      .volume-button {
        height: 15px; width: 11px;
        background: url(/images/player/volume-button.png);
        background-size: cover;
      }
    }
  }
}
